#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 #s-Button_2 {
  position: absolute;
  top: 0px;
  left: 52px;
  width: 138px;
  height: 40px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 #s-Button_3 {
  position: absolute;
  top: 0px;
  left: 199px;
  width: 138px;
  height: 40px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 #s-Button_3 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 #s-Button_3 span#rtr-s-Button_3_1 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 #s-Button_4 {
  position: absolute;
  top: 0px;
  left: 346px;
  width: 138px;
  height: 40px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 #s-Button_4 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 #s-Button_5 {
  position: absolute;
  top: 0px;
  left: 494px;
  width: 138px;
  height: 40px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 #s-Button_5 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 #s-Button_5 span#rtr-s-Button_5_1 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 #s-Button_6 {
  position: absolute;
  top: 0px;
  left: 641px;
  width: 138px;
  height: 40px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 #s-Button_6 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 #s-Button_6 span#rtr-s-Button_6_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 #s-Button_1 {
  position: absolute;
  top: 264px;
  left: 239px;
  width: 358px;
  height: 154px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 28px 28px 28px 28px;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 28.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 28.0pt;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 #s-Text_1 {
  position: absolute;
  top: 85px;
  left: 226px;
  width: 407px;
  height: 134px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 #s-Text_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-3dc80a4b-d0ee-4546-aa76-426f3f297bd1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}